@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
@{
    if (Model.Any())
    {
        <table id="customers" class="table">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </thead>
            <tbody>
                @{
                    foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@Html.ActionLink(user.Name, "Edit", new { id = user.Id })</td>
                            <td>
                                @user.MembershipType.Name
                            </td>
                            <td>
                                <button data-customer-id="@user.Id" class="btn-link js-delete">Delete</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            </table>
                    }
                    else
                    {
                        <h3>No customers found</h3>
                    }
}

@section Scripts
{
    <script>
        $(document)
            .ready(function () {
                $("#customers").DataTable();

                $("#customers")
                    .on("click", ".js-delete",
                        function() {
                            bootbox.confirm("Are you sure you want to delete this customer?",
                                function(result) {
                                    if (result) {
                                        var base = $(this);
                                        $.ajax(
                                        {
                                            url: "/api/customers/" + base.attr("data-customer-id"),
                                            method: "DELETE",
                                            success: function() {
                                                base.parents("tr").remove();
                                            }
                                        });
                                    }
                                });
                        });
            });
    </script>
}